<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <p>Welcome to <%= title %></p>
  <a href="/golive" type="button">Go Live</a>
  <a href="/visualize/13" type="button">Visualize</a>
  <ul class="live_list"></ul>
</body>
<script type="text/javascript">
  $("#list_room").val('asdf')
  var socket = io().connect();
  socket.emit("list_room");
  socket.on("list_room", function (rooms) {
    if (rooms.length > 0) {
      $('ul.live_list').empty();
      rooms.forEach(room => {
        $("ul.live_list").append(`<li><a href="/visualize/${room}">${room}</a></li>`);
      });
    }
  });
</script>

</html>